if [[ ! -f .env ]]; then
	cp .env.example .env
fi

MISSING_ENVS=$(comm -23 \
  <(grep -Eo '([^=]*)=' .env.example | sort) \
  <(grep -Eo '([^=]*)=' .env | sort)
)

if [[ -n $MISSING_ENVS ]]; then
  echo -e "WARNING: .env is missing the following variables listed in .env.example:"
  grep -f <(echo "$MISSING_ENVS" | sed 's/=$//' | grep -v '^$') .env.example
  echo
fi

dotenv .env

use flake . --impure

# vim: set ft=sh :

